{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Please pick the team you would like to view.</p>

<form method="post" action="link2">
    <input type="text" name="search" />
    <input type="submit" value="Search">
</form>

<p>{{ link }}</p>

<p><a href="https://www.bbc.co.uk/sport/football/teams">BBC Sport</a></p>


{% for item in data %}
<table style="border: 1px solid black;
        padding: 15px;
        border-collapse: collapse;">
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
    </tr>
</table>
{% endfor %}


{% endblock %}
